@import "../../variables.scss";

.Navbar {
  position: sticky;
  top: 0;
  z-index: 1;

  // dropdown container
  .dropdown_container {
    #navbar {
      border-bottom: 1px solid lightgray;

      .navbar_container {
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        background-color: #fff;

        .navbar_title {
          font-size: 20px;

          .navbar_title_logo {
            font-family: "Lobster", cursive;
          }
        }

        .navbar_search {
          position: relative;

          .fa-search {
            position: absolute;
            left: 35%;
            top: 8px;
            font-size: 8px;
          }

          input {
            padding: 3px 25px;
            width: 160px;
            border: 1px solid lightgray;
          }

          input::-webkit-input-placeholder {
            text-align: center;
          }
        }

        .navbar_icons {
          button {
            background-color: white;

            img {
              width: 20px;
              height: 20px;
              margin-right: 10px;
            }
          }
        }
      }
    }

    .search_dropdown_content_container {
      width: 100vw;
      @extend %flex-center;

      .search_dropdown_content {
        position: absolute;
        display: none;
        background-color: $dropdown_background-color;
        width: 100%;
        max-width: 320px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;

        .search_dropdown_content a {
          display: block;
          padding: 10px;

          &:hover {
            background-color: #ddd;
            cursor: pointer;
          }
        }

        .search_dropdown_content.show {
          display: block;
        }
      }
    }

    .profile_dropdown_content_container {
      @extend %flex-center;

      .profile_dropdown_content {
        position: absolute;
        display: none;
        background-color: $dropdown_background-color;
        width: 100%;
        max-width: 1100px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;

        .profile_dropdown_content a {
          display: block;
          padding: 10px;

          &:hover {
            background-color: #ddd;
            cursor: pointer;
          }
        }

        .profile_dropdown_content.show {
          display: block;
        }
      }
    }
  }
}
