@import "../variables.scss";
@import "../Common.scss";

.main {
  #main_container {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 40px;
    @media screen and (max-width: 768px) {
      justify-content: center;
    }

    .main_left {
      width: 70%;
      margin-right: 20px;
      @media screen and (max-width: 768px) {
        margin-right: 0;
      }
    }

    .main_right_container {
      width: 100%;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}
