$dropdown_background-color: #f1f1f1;
$feeds-comment-before: #b3dffc;
$feeds-comment-after: #3baef8;
$main_right_active_button: #0095f6;

%flex-center {
  display: flex;
  justify-content: center;
}

%flex-space-between {
  display: flex;
  justify-content: space-between;
}

body {
  text-align: center;
  margin: 0 auto;
}

.main {
  // dropdown container
  .dropdown_container {
    position: sticky;
    top: 0;
    z-index: 1;

    #navbar {
      border-bottom: 1px solid lightgray;

      .navbar_container {
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        background-color: #fff;

        .navbar_title {
          font-size: 20px;

          .navbar_title_logo {
            font-family: "Lobster", cursive;
          }
        }

        .navbar_search {
          position: relative;

          .fa-search {
            position: absolute;
            left: 35%;
            top: 8px;
            font-size: 8px;
          }

          input {
            padding: 3px 25px;
            width: 160px;
            border: 1px solid lightgray;
          }

          input::-webkit-input-placeholder {
            text-align: center;
          }
        }

        .navbar_icons {
          button {
            background-color: white;

            img {
              width: 20px;
              height: 20px;
              margin-right: 10px;
            }
          }
        }
      }
    }

    .search_dropdown_content_container {
      width: 100vw;
      @extend %flex-center;

      .search_dropdown_content {
        position: absolute;
        display: none;
        background-color: $dropdown_background-color;
        width: 100%;
        max-width: 320px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;

        .search_dropdown_content a {
          display: block;
          padding: 10px;

          &:hover {
            background-color: #ddd;
            cursor: pointer;
          }
        }

        .search_dropdown_content.show {
          display: block;
        }
      }
    }

    .profile_dropdown_content_container {
      @extend %flex-center;

      .profile_dropdown_content {
        position: absolute;
        display: none;
        background-color: $dropdown_background-color;
        width: 100%;
        max-width: 1100px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;

        .profile_dropdown_content a {
          display: block;
          padding: 10px;

          &:hover {
            background-color: #ddd;
            cursor: pointer;
          }
        }

        .profile_dropdown_content.show {
          display: block;
        }
      }
    }
  }

  // main
  #main_container {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 30px;
    @media screen and (max-width: 768px) {
      justify-content: center;
    }

    .main_left {
      width: 70%;
      margin-right: 20px;
      @media screen and (max-width: 768px) {
        margin-right: 0;
      }

      .main_left_slider {
        position: relative;
        display: flex;
        border: 1px solid lightgray;
        padding: 10px;
        overflow: hidden;

        img {
          width: 70px;
          height: 70px;
          margin-right: 20px;
          border-radius: 50%;
          border: 3px solid red;
        }
      }

      .main_left_feeds {
        border: 1px solid lightgray;
        margin-top: 30px;
        overflow: hidden;

        .feeds_navbar {
          padding: 10px;
          @extend %flex-space-between;
          align-items: center;
          border-bottom: 1px solid lightgray;

          .feeds_navbar_left {
            display: flex;
            align-items: center;

            .feeds_navbar_profile {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              margin-right: 15px;
              border: 3px solid red;
            }
          }
        }

        .feeds_img {
          width: 100%;
        }

        .feeds_info {
          .feeds_info_icons {
            @extend %flex-space-between;
            padding: 5px 10px;

            .feeds_info_icons_left {
              svg {
                margin-right: 10px;
              }
            }
          }

          .feeds_info_description {
            text-align: left;
            padding: 10px;

            .feeds_info_description_like {
              margin-bottom: 5px;

              .bold {
                font-weight: bold;
              }
            }

            .feeds_info_description_user {
              font-weight: bold;
            }

            .feeds_info_description_days {
              font-size: 12px;
              color: gray;
            }
          }

          .feeds_info_comment {
            border-top: 1px solid lightgray;
            padding: 10px 5px;
            @extend %flex-space-between;

            .feed_info_comment_emoji {
              flex-basis: 5%;
            }

            form {
              flex-basis: 95%;
              position: relative;

              .feed_info_comment_input {
                width: 100%;
                padding: 5px;
                font-size: 15px;
                border: none;
                outline: none;
              }

              .feed_info_comment_submit {
                position: absolute;
                right: 0;
                top: 5px;
                color: $feeds-comment-before;
                font-size: 15px;
                padding: 0 5px;
              }

              .feed_info_comment_submit.pressed {
                color: $feeds-comment-after;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    .main_right_container {
      width: 100%;
      @media screen and (max-width: 768px) {
        display: none;
      }

      .main_right {
        position: sticky;
        top: 60px;
        width: 100%;

        .main_right_user_profile {
          @extend %flex-space-between;
          align-items: center;
          padding-top: 10px;

          button {
            color: $main_right_active_button;
            font-weight: bold;
          }

          .profile_container {
            display: flex;
            align-items: center;

            img {
              // alt="user profile"
              width: 70px;
              height: 70px;
              border-radius: 50%;
            }

            .profile_name {
              display: flex;
              flex-direction: column;
              text-align: left;
              margin-left: 5px;
            }
          }
        }

        .main_right_recommendation {
          .title_container {
            @extend %flex-space-between;
            margin: 20px 0;

            div {
              // 회원님을 위한 추천
              font-weight: bold;
              color: darkgray;
            }
          }
          .recommendation_list {
            .recommendation_list_friend {
              @extend %flex-space-between;
              align-items: center;
              margin-bottom: 10px;

              .recommendation_container {
                display: flex;

                img {
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  margin-right: 5px;
                }

                .friend_name {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                }
              }
              button {
                color: $main_right_active_button;
                font-weight: bold;
              }
            }
          }
        }

        .main_right_footer {
          margin-top: 20px;
          text-align: left;

          li {
            display: inline-block;
            a {
              color: lightgray;
            }
          }
          div {
            color: lightgray;
            margin-top: 15px;
          }
        }
      }
    }
  }
}
