@import "./pages/minseokseo/Login/Login.scss";
@import "./pages/minseokseo/Main/Main.scss";
@import "./pages/hyojinkim/Login/Login.scss";
@import "./pages/hyojinkim/Main/Main.scss";
@import "./pages/junhyeongchae/Login/Login.scss";
@import "./pages/junhyeongchae/Main/Main.scss";
@import "./pages/sungeunpark/Login/Login.scss";
@import "./pages/sungeunpark/Main/Main.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
